/* compiled by scssphp v0.0.12 on Fri, 04 Aug 2017 22:03:39 +0800 (0.0425s) */

/* $color-body:			desaturate($op-blue,90%); */
/* $op-pattern:			url(../img/icons/op-pattern.png); */
.op-box {
  padding: 1.5rem 1.5rem 2rem;
  padding: 1.5rem;
  border-radius: 9px;
  color: #fff;
  font-family: Roboto Mono, Microsoft YaHei, STXihei, monospace;
  background: #0f355a;
  color: #fff;
  margin-bottom: 1rem;
  /* overflow: hidden;
pointer-events: none;
user-select: none;
cursor: pointer; */
  border-radius: calc(5px * 2); }

.op-box * {
  font-family: Roboto Mono, Microsoft YaHei, STXihei, monospace;
  color: #fff; }

section.bg-colored .op-box * > * {
  color: #8e8e8e; }

.bg-colored .op-box {
  background: #fff; }

.op-box h1 {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  font-weight: 500; }

.op-box h2 {
  font-family: Roboto Mono, Microsoft YaHei, STXihei, monospace;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  opacity: 0.35; }

.op-box .material-icons {
  font-family: 'Material Icons';
  font-size: 1rem; }

.bg-blue .op-box h1 {
  color: #124932; }

.bg-green .op-box h1 {
  color: #124932; }

.bg-colored .op-box .highlight {
  color: #fff; }

.op-box .highlight {
  background: #174f86;
  padding: 1rem 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  align-items: center; }

.op-box .highlight .material-icons {
  font-size: 24px;
  font-weight: normal; }

.text-center .op-box .highlight {
  justify-content: center; }

.op-box thead th, .bg-blue .op-box .highlight {
  color: #fff !important;
  background: #174f86; }

.bg-green .op-box thead th, .bg-green .op-box .highlight {
  background: #144732;
  background: #30aa78; }

.table {
  font-size: 0.75rem; }

.table thead th {
  color: #fff;
  border: none; }

.table tr, .table td {
  border: none; }

.table td {
  /* border: none; */
  border-bottom: 1px rgba(255, 255, 255, 0.05) solid; }

.bg-colored .table td {
  border-bottom: 1px #d9d9d9 solid; }

.op-box > *:last-child, .op-box > *:last-child > * > *:last-child {
  margin-bottom: 0; }
