/* compiled by scssphp v0.0.12 on Fri, 04 Aug 2017 22:03:39 +0800 (0.0885s) */

/* $color-body:			desaturate($op-blue,90%); */
/* $op-pattern:			url(../img/icons/op-pattern.png); */
body {
  font: 16px/1.5 Source Sans Pro, Microsoft YaHei, STXihei, serif;
  color: #8e8e8e;
  background: #081b2f;
  /* DEFAULTS +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */ }

a, a:link, a:hover, a:active {
  text-decoration: none; }

img {
  width: 100%; }

#content > section > div > .row > div {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  overflow: hidden;
  /* TYPOGRAPHY +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */ }

h1, h2, h3, h6, a.button, ul.menu, b, strong, .text-bold {
  font-family: Work Sans, Microsoft YaHei, STXihei, serif;
  color: #3e8fde;
  /* .text-green *	{ color: $color-secondary; } */ }

p strong {
  color: inherit; }

.text-bold, a, h6, .button a, h3, b, strong {
  font-weight: 700; }

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 2.5rem; }

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 2rem; }

h3 {
  /* margin: 0 0 1rem */
  font-size: 1.75rem; }

h6 {
  font-size: 1rem;
  text-transform: uppercase; }

p, li {
  font-size: 0.875rem;
  font-size: 0.95rem; }

.button {
  background-color: inherit;
  display: inline-block;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border: 1px #3e8fde solid;
  border-radius: 5px;
  align-items: center;
  display: inline-flex; }

.button .material-icons {
  margin-left: 0.5rem; }

.bg-colored .button {
  color: #fff;
  border-color: #fff; }

.button:hover {
  color: #fff;
  background: #3e8fde;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1); }

.bg-colored .button:hover {
  background-color: #fff; }

.bg-blue .button:hover, .bg-blue .button:hover * {
  color: #3e8fde; }

.bg-green .button:hover, .bg-green .button:hover * {
  color: #144732;
  /* NAVIGATION +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */ }

#nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  height: 3.75rem;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(62, 143, 222, 0.98);
  z-index: 999;
  border-bottom: 1px rgba(255, 255, 255, 0.15) solid !important; }

ul.menu li a {
  opacity: 0.35;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  color: #fff; }

ul.menu li a:hover, #home li.nav-home a, #opentm li.nav-opentm a, #openmarket li.nav-openmarket a, #openanalytics li.nav-openanalytics a, #epod li.nav-epod a, #shippers li.nav-shippers a, #news li.nav-news a, #transporters li.nav-transporters a {
  opacity: 1; }

ul.menu {
  margin: 0;
  padding: 0; }

ul.menu li {
  display: inline-block;
  margin-left: 1rem; }

#mobile-menu-toggle .material-icons {
  line-height: 3.75rem; }

#mobile-menu {
  padding: 0;
  position: fixed;
  top: 3.75rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  /* opacity: 0.98 */
  text-align: center;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1); }

ul#mobile-menu.menu li {
  display: block;
  margin: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  /* SECTIONS & ROWS +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */ }

section {
  background: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px #e0e0e0 solid; }

.bg-colored {
  border: none !important; }

section.bg-colored .row > * * {
  color: #fff;
  /* section > div > div { align-items: center } */ }

.bg-blue {
  background: #3e8fde; }

.bg-dk-blue {
  background: #081b2f; }

.bg-green {
  background: #144732; }

.bg-op-pattern {
  background: ; }

.contains-icons img {
  max-width: 60%; }

.contains-icons h2, .has-material-icons h2 {
  margin-bottom: 3rem; }

.ux-frame-desktop {
  background: #d9d9d9 url(../img/bg-ux-frame-desktop.png) no-repeat left top;
  padding-top: 29px;
  /* SECTIONS SPECIFIC +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */ }

.has-material-icons .material-icons {
  font-weight: normal;
  font-size: calc(24px * 2); }

#home #intro {
  background: #3e8fde url(../img/bg-asia-mobile.png) no-repeat center center;
  background-size: cover; }

.videoWrapper {
  position: relative;
  /* 16:9 */
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* UIUX +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
  /* TABLET & UP +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */ }

@media (min-width: 600px) {
  h1 {
    font-size: 3.75rem; }

  h2 {
    font-size: 3rem; }

  h3 {
    font-size: 2rem; }

  #intro {
    padding-top: 8.75rem; }

  .text-md-nowrap {
    white-space: nowrap; } }

@media (min-width: 1024px) {
  #home #intro {
    background: #3e8fde url(../img/bg-asia.png) no-repeat top right;
    background-size: contain; } }
