$font-base:    			Source Sans Pro, Microsoft YaHei, STXihei, serif;
$font-primary:			Work Sans, Microsoft YaHei, STXihei, serif;
$font-secondary:		Roboto Mono,  Microsoft YaHei, STXihei, monospace;
$font-alternate:		Roboto,  Microsoft YaHei, STXihei, monospace;

// $color-base:			#37474F; 

$op-blue: 				#3E8FDE;
$op-green: 				#144732;
$op-white: 				#fff;
$op-black: 				#000;

/* $color-body:			desaturate($op-blue,90%); */
$color-primary: 		$op-blue;
$color-secondary: 		$op-green;

$opacity-text:			0.35;

$transition-material: 	all 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);

$border-radius:			5px;
$section-padding:		5rem;

$text-bold:				700;

/* $op-pattern:			url(../img/icons/op-pattern.png); */

$nav-height:			3.75rem;

$border-bottom: 		1px rgba($op-white,0.05) solid;