@import "variables";


body {
font: 16px/1.5 $font-base;
color: desaturate($op-blue,90%);
background: darken($op-blue, 45%);
}


/* DEFAULTS +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

a, a:link, a:hover, a:active { text-decoration: none; }

img			{ width: 100%; }

#content > section > div > .row > div { 
transition: $transition-material;
overflow: hidden;
}


/* TYPOGRAPHY +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */


h1, h2, h3, h6, a.button, ul.menu,
b, strong, .text-bold	{ font-family: $font-primary; color: $color-primary; }

/* .text-green *	{ color: $color-secondary; } */

p strong { color: inherit }

.text-bold, a, h6, .button a,
h3, b, strong	{ font-weight: $text-bold; }



h1			{ font-size: 3.00rem; font-weight: 300; margin: 0 0 2.5rem }
h2			{ font-size: 2.50rem; font-weight: 300; margin: 0 0 2.0rem }
h3			{ font-size: 1.75rem; /* margin: 0 0 1rem */ }
h6			{ font-size: 1.00rem; text-transform: uppercase }
	
p, li	{ font-size: 0.875rem; font-size: 0.95rem }



.button { 
background-color: inherit;
display: inline-block;
font-weight: $text-bold;
padding: 0.5rem 0.75rem; 
border: 1px $color-primary solid;
border-radius: $border-radius;
align-items: center;
display: inline-flex;
}

.button .material-icons { 
margin-left: 0.5rem;
}

.bg-colored .button { 
color: $op-white;
border-color: $op-white
}

.button:hover { 
color: $op-white;
background: $color-primary;
transition: $transition-material;
}

.bg-colored .button:hover { 
background-color: $op-white;
}

.bg-blue .button:hover,
.bg-blue .button:hover * { 
color: $color-primary;
}

.bg-green .button:hover,
.bg-green .button:hover * { 
color: $color-secondary;
}


/* NAVIGATION +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

#nav { 
padding-top: 1rem;
padding-bottom: 1rem;
align-items: center;
height: $nav-height;
position: fixed;
width: 100%;
top: 0;
background: rgba($color-primary, 0.98);
z-index: 999;
border-bottom: 1px rgba(255,255,255,0.15) solid !important;

}


ul.menu li a { 
opacity: $opacity-text; 
transition: $transition-material;
color: $op-white
} 

ul.menu li a:hover,
#home li.nav-home a,
#opentm li.nav-opentm a,
#openmarket li.nav-openmarket a,
#openanalytics li.nav-openanalytics a,
#epod li.nav-epod a,
#shippers li.nav-shippers a,
#news li.nav-news a,
#transporters li.nav-transporters a { opacity: 1; } 


ul.menu  { margin:0; padding: 0 }

ul.menu li { 
display: inline-block;
margin-left: 1rem
}


#mobile-menu-toggle .material-icons { line-height: $nav-height }

#mobile-menu { 
padding: 0;
position: fixed; 
top: $nav-height;
left: 0;
right: 0;
bottom: 0;
z-index: 999;
text-align: center;
/* opacity: 0.98 */
transition: $transition-material;

}

ul#mobile-menu.menu li { 
display: block;
margin: 0;
height:  $nav-height;
line-height:  $nav-height;
border-bottom: $border-bottom;
border-bottom-color: rgba($op-white,0.1)
}


/* SECTIONS & ROWS +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

section { 
background: 	$op-white;
padding-top: 	$section-padding;
padding-bottom: $section-padding; 
border-bottom: 	1px #E0E0E0 solid;
}

.bg-colored  { border: none !important; }
section.bg-colored .row > * *	{ color: $op-white }

/* section > div > div { align-items: center } */

.bg-blue 			{ background: $color-primary; }
.bg-dk-blue			{ background: darken($op-blue, 45%); }
.bg-green 			{ background: $color-secondary; }


.bg-op-pattern	{ background: $op-pattern; }

.contains-icons img { max-width: 60% }

.contains-icons h2,
.has-material-icons h2 { margin-bottom: 3rem }


.ux-frame-desktop { 
background: darken($op-white, 15%) url(../img/bg-ux-frame-desktop.png) no-repeat left top;
padding-top: 29px;
}

/* SECTIONS SPECIFIC +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */



.has-material-icons .material-icons {
    font-weight: normal;
    font-size: calc(24px * 2);
}

#home #intro {
	background: $op-blue url(../img/bg-asia-mobile.png) no-repeat center center;
	background-size: cover;
}


.videoWrapper  {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* UIUX +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */



/* TABLET & UP +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
@media (min-width: 600px) {

h1			{ font-size: 3.75rem; }
h2			{ font-size: 3.00rem;  }
h3			{ font-size: 2.00rem;  }

#intro { padding-top: $nav-height + $section-padding }

.text-md-nowrap { white-space: nowrap; }

}

@media (min-width: 1024px) {


#home #intro {
	background: $op-blue url(../img/bg-asia.png) no-repeat top right;
	background-size: contain;
}

}



