@import "variables";


.op-box {
padding: 1.5rem 1.5rem 2rem;
padding: 1.5rem;
border-radius: 9px;
color: $op-white; 
font-family: $font-secondary; 
background: darken($op-blue,35%);
color: $op-white;
margin-bottom: 1rem;
border-radius: calc(#{$border-radius} * 2);


/* overflow: hidden;
pointer-events: none;
user-select: none;
cursor: pointer; */

}

.op-box * {
font-family: $font-secondary; 
color: $op-white;

}

section.bg-colored .op-box * > * { 
color: desaturate($op-blue,90%);
}


.bg-colored .op-box { 
background: $op-white;
}

.op-box h1 	{ 
font-size: 1.125rem;
margin-bottom: 1.5rem;
font-weight: 500; 
}


.op-box h2 	{ 
font-family: $font-secondary;
text-transform: uppercase;
font-size: 0.75rem; 
font-weight: $text-bold; 
margin-bottom: 0.5rem;
opacity: 0.35;
}

.op-box .material-icons	{ 
font-family: 'Material Icons';
font-size: 1rem
}




.bg-blue .op-box h1 	{ color: saturate($op-green, 5%); }
.bg-green .op-box h1 	{ color: saturate($op-green, 5%); }

.bg-colored .op-box .highlight { color: $op-white; }







.op-box .highlight {
/* margin-bottom: 0; */
background: darken($op-blue, 25%);
padding: 1rem 1.5rem;
padding: 1rem;
border-radius: $border-radius;
font-weight: $text-bold;
display: flex;
align-items: center;
}

.op-box .highlight .material-icons {
font-size: 24px;
font-weight: normal;
}

.text-center .op-box .highlight {
justify-content: center;
}

.op-box thead th,
.bg-blue .op-box .highlight {
color: $op-white !important; 
background: darken($op-blue, 25%);
}

.bg-green .op-box thead th,
.bg-green .op-box .highlight {
background: $op-green;
background: lighten($op-green, 25%);
}




.table { 
/* font-family: $font-secondary; */
font-size: 0.75rem;
}


.table thead th { 
color: $op-white; 
border: none; 
}

.table tr, .table td  {
border: none;
}

.table td {
border-bottom: $border-bottom;
/* border: none; */
}

.bg-colored .table td {
/* border-bottom: 1px lighen($op-black, 90%) solid;
border-bottom: 1px $op-blue solid; */
border-bottom: 1px lighten($op-black, 85%) solid;

}




.op-box > *:last-child,
.op-box > *:last-child > * > *:last-child	{ 
margin-bottom: 0
}


@media (min-width: 600px) {
	
}